.showcase h1 {
  font-size: 2.5rem;
  color: rgb(9, 219, 247);
  text-align: center;
  padding: 1rem 0;
}

#imageForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#prompt,
#size {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btn {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgb(9, 219, 247);
}

.errorMsg {
  color: rgb(238, 10, 10);
  font-weight: bold;
}

.image {
  width: 100%;
  margin-top: 2rem;
}

#img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}
